/* normalize.css 2011-06-23T00:50 UTC //github.com/jonathantneal/normalize.css */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  cursor: default;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body, form, input, button, select, textarea {
  font-size: 100%;
  margin: 0; }

a, a:active, a:hover {
  outline: none; }

a:focus {
  outline: thin dotted; }

abbr {
  _border-bottom: expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small, sub, sup {
  font-size: 75%; }

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul {
  list-style: none; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline; }

audio {
  display: none;
  _display: expression(this.controls ? 'inline':'none');
  *zoom: 1; }

audio[controls] {
  display: inline-block; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

legend {
  *margin-left: -7px; }

button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  _overflow: expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "superior";
  src: url("/fonts/superior/superior-title-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "superior";
  src: url("/fonts/superior/superior-title-black-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "cooper-hewitt";
  src: url("/fonts/cooper-hewitt/cooper-hewitt-book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "cooper-hewitt";
  src: url("/fonts/cooper-hewitt/cooper-hewitt-book-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

h1, h2, h3 {
  font-family: "superior";
  margin: 0; }

h4, h5 {
  font-family: "cooper-hewitt";
  margin: 0; }

a {
  color: #333333;
  text-decoration: none;
  border-bottom: 2px dashed;
  padding-bottom: 2px; }
  a:hover {
    text-decoration: none;
    border-bottom: 2px solid; }

body {
  padding: 20px;
  color: #333333;
  position: relative;
  font-family: "cooper-hewitt", Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-animation: colorChange 20s linear 0s infinite;
  animation: colorChange 20s linear 0s infinite; }

.page {
  background: white;
  padding: 5%;
  padding-top: 80px; }

.wrap {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

header {
  margin: 0 0 80px 0;
  text-align: center; }
  header h1 {
    mix-blend-mode: multiply;
    font-family: "superior";
    font-size: 60px;
    line-height: 60px;
    position: relative;
    margin-bottom: 80px; }
    header h1 span {
      position: relative; }

table {
  border: none;
  outline: none;
  margin: 60px 0; }
  table tr, table td {
    border: none;
    outline: none;
    border-collapse: collapse; }
  table td {
    position: relative;
    width: 50%; }
    table td h3 {
      position: relative; }

h2.logo {
  font-family: "superior";
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px; }

.tagline {
  font-size: 40px;
  font-family: "cooper-hewitt";
  text-transform: uppercase; }

h4 {
  font-size: 20px; }

section {
  margin: 80px 0; }
  section h2 {
    font-size: 40px;
    text-align: center; }
  section.clients {
    text-align: center; }
    section.clients h1 {
      margin-bottom: 20px; }
    section.clients ul {
      padding: 0;
      margin: 0 auto;
      text-align: center; }
    section.clients li {
      list-style: none;
      display: inline-block;
      margin: 10px; }
      section.clients li a {
        font-size: 24px;
        text-align: center;
        background: #F2F2F2;
        border: none;
        display: block;
        padding: 0 10px;
        height: 60px;
        line-height: 64px; }
        section.clients li a:hover {
          background: #FFFF00; }
  section.contact {
    text-align: center;
    font-family: "cooper-hewitt";
    font-size: 20px; }
    section.contact span {
      display: inline-block;
      margin-right: 40px;
      margin-bottom: 20px; }
      section.contact span:last-child {
        margin-right: 0; }
  section.partners .partner {
    text-align: center;
    position: relative;
    float: left;
    width: 50%; }
    section.partners .partner h3 {
      font-size: 40px;
      margin-bottom: 10px; }
    section.partners .partner h4 {
      text-transform: uppercase;
      color: #D84C90; }
    section.partners .partner p {
      font-style: 14px;
      line-height: normal;
      margin: 20px 0; }

footer {
  font-family: "superior";
  margin: 80px auto 10px;
  text-align: center; }
  footer small {
    text-transform: uppercase; }

@-webkit-keyframes colorChange {
  0% {
    background: -webkit-linear-gradient(left, #9effe4, #9ee2ff);
    background: linear-gradient(to right, #9effe4, #9ee2ff); }

  1% {
    background: -webkit-linear-gradient(left, #9effe8, #9eddff);
    background: linear-gradient(to right, #9effe8, #9eddff); }

  2% {
    background: -webkit-linear-gradient(left, #9effef, #9ed7ff);
    background: linear-gradient(to right, #9effef, #9ed7ff); }

  3% {
    background: -webkit-linear-gradient(left, #9efff4, #9ed2ff);
    background: linear-gradient(to right, #9efff4, #9ed2ff); }

  4% {
    background: -webkit-linear-gradient(left, #9efffa, #9ecbff);
    background: linear-gradient(to right, #9efffa, #9ecbff); }

  5% {
    background: -webkit-linear-gradient(left, #9efdff, #9ec5ff);
    background: linear-gradient(to right, #9efdff, #9ec5ff); }

  6% {
    background: -webkit-linear-gradient(left, #9ef9ff, #9ec0ff);
    background: linear-gradient(to right, #9ef9ff, #9ec0ff); }

  7% {
    background: -webkit-linear-gradient(left, #9ef2ff, #9eb9ff);
    background: linear-gradient(to right, #9ef2ff, #9eb9ff); }

  8% {
    background: -webkit-linear-gradient(left, #9eedff, #9eb5ff);
    background: linear-gradient(to right, #9eedff, #9eb5ff); }

  9% {
    background: -webkit-linear-gradient(left, #9ee7ff, #9eaeff);
    background: linear-gradient(to right, #9ee7ff, #9eaeff); }

  10% {
    background: -webkit-linear-gradient(left, #9ee0ff, #9ea8ff);
    background: linear-gradient(to right, #9ee0ff, #9ea8ff); }

  11% {
    background: -webkit-linear-gradient(left, #9edbff, #9ea3ff);
    background: linear-gradient(to right, #9edbff, #9ea3ff); }

  12% {
    background: -webkit-linear-gradient(left, #9ed5ff, #a09eff);
    background: linear-gradient(to right, #9ed5ff, #a09eff); }

  13% {
    background: -webkit-linear-gradient(left, #9ed0ff, #a49eff);
    background: linear-gradient(to right, #9ed0ff, #a49eff); }

  14% {
    background: -webkit-linear-gradient(left, #9ecaff, #ab9eff);
    background: linear-gradient(to right, #9ecaff, #ab9eff); }

  15% {
    background: -webkit-linear-gradient(left, #9ec3ff, #b19eff);
    background: linear-gradient(to right, #9ec3ff, #b19eff); }

  16% {
    background: -webkit-linear-gradient(left, #9ebeff, #b69eff);
    background: linear-gradient(to right, #9ebeff, #b69eff); }

  17% {
    background: -webkit-linear-gradient(left, #9eb8ff, #bd9eff);
    background: linear-gradient(to right, #9eb8ff, #bd9eff); }

  18% {
    background: -webkit-linear-gradient(left, #9eb3ff, #c29eff);
    background: linear-gradient(to right, #9eb3ff, #c29eff); }

  19% {
    background: -webkit-linear-gradient(left, #9eadff, #c89eff);
    background: linear-gradient(to right, #9eadff, #c89eff); }

  20% {
    background: -webkit-linear-gradient(left, #9ea6ff, #ce9eff);
    background: linear-gradient(to right, #9ea6ff, #ce9eff); }

  21% {
    background: -webkit-linear-gradient(left, #9ea1ff, #d39eff);
    background: linear-gradient(to right, #9ea1ff, #d39eff); }

  22% {
    background: -webkit-linear-gradient(left, #a19eff, #da9eff);
    background: linear-gradient(to right, #a19eff, #da9eff); }

  23% {
    background: -webkit-linear-gradient(left, #a69eff, #df9eff);
    background: linear-gradient(to right, #a69eff, #df9eff); }

  24% {
    background: -webkit-linear-gradient(left, #ad9eff, #e59eff);
    background: linear-gradient(to right, #ad9eff, #e59eff); }

  25% {
    background: -webkit-linear-gradient(left, #b39eff, #ec9eff);
    background: linear-gradient(to right, #b39eff, #ec9eff); }

  26% {
    background: -webkit-linear-gradient(left, #b89eff, #f09eff);
    background: linear-gradient(to right, #b89eff, #f09eff); }

  27% {
    background: -webkit-linear-gradient(left, #be9eff, #f79eff);
    background: linear-gradient(to right, #be9eff, #f79eff); }

  28% {
    background: -webkit-linear-gradient(left, #c39eff, #fc9eff);
    background: linear-gradient(to right, #c39eff, #fc9eff); }

  29% {
    background: -webkit-linear-gradient(left, #ca9eff, #ff9efc);
    background: linear-gradient(to right, #ca9eff, #ff9efc); }

  30% {
    background: -webkit-linear-gradient(left, #d09eff, #ff9ef5);
    background: linear-gradient(to right, #d09eff, #ff9ef5); }

  31% {
    background: -webkit-linear-gradient(left, #d59eff, #ff9ef0);
    background: linear-gradient(to right, #d59eff, #ff9ef0); }

  32% {
    background: -webkit-linear-gradient(left, #db9eff, #ff9eea);
    background: linear-gradient(to right, #db9eff, #ff9eea); }

  33% {
    background: -webkit-linear-gradient(left, #e09eff, #ff9ee5);
    background: linear-gradient(to right, #e09eff, #ff9ee5); }

  34% {
    background: -webkit-linear-gradient(left, #e79eff, #ff9edf);
    background: linear-gradient(to right, #e79eff, #ff9edf); }

  35% {
    background: -webkit-linear-gradient(left, #ed9eff, #ff9ed8);
    background: linear-gradient(to right, #ed9eff, #ff9ed8); }

  36% {
    background: -webkit-linear-gradient(left, #f29eff, #ff9ed3);
    background: linear-gradient(to right, #f29eff, #ff9ed3); }

  37% {
    background: -webkit-linear-gradient(left, #f99eff, #ff9ecd);
    background: linear-gradient(to right, #f99eff, #ff9ecd); }

  38% {
    background: -webkit-linear-gradient(left, #fd9eff, #ff9ec8);
    background: linear-gradient(to right, #fd9eff, #ff9ec8); }

  39% {
    background: -webkit-linear-gradient(left, #ff9efa, #ff9ec2);
    background: linear-gradient(to right, #ff9efa, #ff9ec2); }

  40% {
    background: -webkit-linear-gradient(left, #ff9ef4, #ff9ebb);
    background: linear-gradient(to right, #ff9ef4, #ff9ebb); }

  41% {
    background: -webkit-linear-gradient(left, #ff9eef, #ff9eb6);
    background: linear-gradient(to right, #ff9eef, #ff9eb6); }

  42% {
    background: -webkit-linear-gradient(left, #ff9ee8, #ff9eb0);
    background: linear-gradient(to right, #ff9ee8, #ff9eb0); }

  43% {
    background: -webkit-linear-gradient(left, #ff9ee4, #ff9eab);
    background: linear-gradient(to right, #ff9ee4, #ff9eab); }

  44% {
    background: -webkit-linear-gradient(left, #ff9edd, #ff9ea4);
    background: linear-gradient(to right, #ff9edd, #ff9ea4); }

  45% {
    background: -webkit-linear-gradient(left, #ff9ed7, #ff9e9e);
    background: linear-gradient(to right, #ff9ed7, #ff9e9e); }

  46% {
    background: -webkit-linear-gradient(left, #ff9ed2, #ffa39e);
    background: linear-gradient(to right, #ff9ed2, #ffa39e); }

  47% {
    background: -webkit-linear-gradient(left, #ff9ecb, #ffa99e);
    background: linear-gradient(to right, #ff9ecb, #ffa99e); }

  48% {
    background: -webkit-linear-gradient(left, #ff9ec6, #ffae9e);
    background: linear-gradient(to right, #ff9ec6, #ffae9e); }

  49% {
    background: -webkit-linear-gradient(left, #ff9ec0, #ffb59e);
    background: linear-gradient(to right, #ff9ec0, #ffb59e); }

  50% {
    background: -webkit-linear-gradient(left, #ff9eb9, #ffbb9e);
    background: linear-gradient(to right, #ff9eb9, #ffbb9e); }

  51% {
    background: -webkit-linear-gradient(left, #ff9eb5, #ffc09e);
    background: linear-gradient(to right, #ff9eb5, #ffc09e); }

  52% {
    background: -webkit-linear-gradient(left, #ff9eae, #ffc69e);
    background: linear-gradient(to right, #ff9eae, #ffc69e); }

  53% {
    background: -webkit-linear-gradient(left, #ff9ea9, #ffcb9e);
    background: linear-gradient(to right, #ff9ea9, #ffcb9e); }

  54% {
    background: -webkit-linear-gradient(left, #ff9ea3, #ffd29e);
    background: linear-gradient(to right, #ff9ea3, #ffd29e); }

  55% {
    background: -webkit-linear-gradient(left, #ffa09e, #ffd89e);
    background: linear-gradient(to right, #ffa09e, #ffd89e); }

  56% {
    background: -webkit-linear-gradient(left, #ffa49e, #ffdd9e);
    background: linear-gradient(to right, #ffa49e, #ffdd9e); }

  57% {
    background: -webkit-linear-gradient(left, #ffab9e, #ffe49e);
    background: linear-gradient(to right, #ffab9e, #ffe49e); }

  58% {
    background: -webkit-linear-gradient(left, #ffb09e, #ffe89e);
    background: linear-gradient(to right, #ffb09e, #ffe89e); }

  59% {
    background: -webkit-linear-gradient(left, #ffb69e, #ffef9e);
    background: linear-gradient(to right, #ffb69e, #ffef9e); }

  60% {
    background: -webkit-linear-gradient(left, #ffbd9e, #fff59e);
    background: linear-gradient(to right, #ffbd9e, #fff59e); }

  61% {
    background: -webkit-linear-gradient(left, #ffc29e, #fffa9e);
    background: linear-gradient(to right, #ffc29e, #fffa9e); }

  62% {
    background: -webkit-linear-gradient(left, #ffc89e, #fdff9e);
    background: linear-gradient(to right, #ffc89e, #fdff9e); }

  63% {
    background: -webkit-linear-gradient(left, #ffcd9e, #f9ff9e);
    background: linear-gradient(to right, #ffcd9e, #f9ff9e); }

  64% {
    background: -webkit-linear-gradient(left, #ffd39e, #f2ff9e);
    background: linear-gradient(to right, #ffd39e, #f2ff9e); }

  65% {
    background: -webkit-linear-gradient(left, #ffda9e, #ecff9e);
    background: linear-gradient(to right, #ffda9e, #ecff9e); }

  66% {
    background: -webkit-linear-gradient(left, #ffdf9e, #e7ff9e);
    background: linear-gradient(to right, #ffdf9e, #e7ff9e); }

  67% {
    background: -webkit-linear-gradient(left, #ffe59e, #e0ff9e);
    background: linear-gradient(to right, #ffe59e, #e0ff9e); }

  68% {
    background: -webkit-linear-gradient(left, #ffea9e, #dbff9e);
    background: linear-gradient(to right, #ffea9e, #dbff9e); }

  69% {
    background: -webkit-linear-gradient(left, #fff09e, #d5ff9e);
    background: linear-gradient(to right, #fff09e, #d5ff9e); }

  70% {
    background: -webkit-linear-gradient(left, #fff79e, #cfff9e);
    background: linear-gradient(to right, #fff79e, #cfff9e); }

  71% {
    background: -webkit-linear-gradient(left, #fffc9e, #caff9e);
    background: linear-gradient(to right, #fffc9e, #caff9e); }

  72% {
    background: -webkit-linear-gradient(left, #fcff9e, #c3ff9e);
    background: linear-gradient(to right, #fcff9e, #c3ff9e); }

  73% {
    background: -webkit-linear-gradient(left, #f7ff9e, #beff9e);
    background: linear-gradient(to right, #f7ff9e, #beff9e); }

  74% {
    background: -webkit-linear-gradient(left, #f0ff9e, #b8ff9e);
    background: linear-gradient(to right, #f0ff9e, #b8ff9e); }

  75% {
    background: -webkit-linear-gradient(left, #eaff9e, #b1ff9e);
    background: linear-gradient(to right, #eaff9e, #b1ff9e); }

  76% {
    background: -webkit-linear-gradient(left, #e5ff9e, #adff9e);
    background: linear-gradient(to right, #e5ff9e, #adff9e); }

  77% {
    background: -webkit-linear-gradient(left, #dfff9e, #a6ff9e);
    background: linear-gradient(to right, #dfff9e, #a6ff9e); }

  78% {
    background: -webkit-linear-gradient(left, #daff9e, #a1ff9e);
    background: linear-gradient(to right, #daff9e, #a1ff9e); }

  79% {
    background: -webkit-linear-gradient(left, #d3ff9e, #9effa1);
    background: linear-gradient(to right, #d3ff9e, #9effa1); }

  80% {
    background: -webkit-linear-gradient(left, #cdff9e, #9effa8);
    background: linear-gradient(to right, #cdff9e, #9effa8); }

  81% {
    background: -webkit-linear-gradient(left, #c8ff9e, #9effad);
    background: linear-gradient(to right, #c8ff9e, #9effad); }

  82% {
    background: -webkit-linear-gradient(left, #c2ff9e, #9effb3);
    background: linear-gradient(to right, #c2ff9e, #9effb3); }

  83% {
    background: -webkit-linear-gradient(left, #bdff9e, #9effb8);
    background: linear-gradient(to right, #bdff9e, #9effb8); }

  84% {
    background: -webkit-linear-gradient(left, #b6ff9e, #9effbe);
    background: linear-gradient(to right, #b6ff9e, #9effbe); }

  85% {
    background: -webkit-linear-gradient(left, #b0ff9e, #9effc5);
    background: linear-gradient(to right, #b0ff9e, #9effc5); }

  86% {
    background: -webkit-linear-gradient(left, #abff9e, #9effca);
    background: linear-gradient(to right, #abff9e, #9effca); }

  87% {
    background: -webkit-linear-gradient(left, #a4ff9e, #9effd0);
    background: linear-gradient(to right, #a4ff9e, #9effd0); }

  88% {
    background: -webkit-linear-gradient(left, #a0ff9e, #9effd5);
    background: linear-gradient(to right, #a0ff9e, #9effd5); }

  89% {
    background: -webkit-linear-gradient(left, #9effa3, #9effdb);
    background: linear-gradient(to right, #9effa3, #9effdb); }

  90% {
    background: -webkit-linear-gradient(left, #9effa9, #9effe2);
    background: linear-gradient(to right, #9effa9, #9effe2); }

  91% {
    background: -webkit-linear-gradient(left, #9effae, #9effe7);
    background: linear-gradient(to right, #9effae, #9effe7); }

  92% {
    background: -webkit-linear-gradient(left, #9effb5, #9effed);
    background: linear-gradient(to right, #9effb5, #9effed); }

  93% {
    background: -webkit-linear-gradient(left, #9effb9, #9efff2);
    background: linear-gradient(to right, #9effb9, #9efff2); }

  94% {
    background: -webkit-linear-gradient(left, #9effc0, #9efff9);
    background: linear-gradient(to right, #9effc0, #9efff9); }

  95% {
    background: -webkit-linear-gradient(left, #9effc6, #9effff);
    background: linear-gradient(to right, #9effc6, #9effff); }

  96% {
    background: -webkit-linear-gradient(left, #9effcb, #9efaff);
    background: linear-gradient(to right, #9effcb, #9efaff); }

  97% {
    background: -webkit-linear-gradient(left, #9effd2, #9ef4ff);
    background: linear-gradient(to right, #9effd2, #9ef4ff); }

  98% {
    background: -webkit-linear-gradient(left, #9effd7, #9eefff);
    background: linear-gradient(to right, #9effd7, #9eefff); }

  99% {
    background: -webkit-linear-gradient(left, #9effdd, #9ee8ff);
    background: linear-gradient(to right, #9effdd, #9ee8ff); }

  100% {
    background: -webkit-linear-gradient(left, #9effe4, #9ee2ff);
    background: linear-gradient(to right, #9effe4, #9ee2ff); } }

@keyframes colorChange {
  0% {
    background: linear-gradient(to right, #9effe4, #9ee2ff); }

  1% {
    background: linear-gradient(to right, #9effe8, #9eddff); }

  2% {
    background: linear-gradient(to right, #9effef, #9ed7ff); }

  3% {
    background: linear-gradient(to right, #9efff4, #9ed2ff); }

  4% {
    background: linear-gradient(to right, #9efffa, #9ecbff); }

  5% {
    background: linear-gradient(to right, #9efdff, #9ec5ff); }

  6% {
    background: linear-gradient(to right, #9ef9ff, #9ec0ff); }

  7% {
    background: linear-gradient(to right, #9ef2ff, #9eb9ff); }

  8% {
    background: linear-gradient(to right, #9eedff, #9eb5ff); }

  9% {
    background: linear-gradient(to right, #9ee7ff, #9eaeff); }

  10% {
    background: linear-gradient(to right, #9ee0ff, #9ea8ff); }

  11% {
    background: linear-gradient(to right, #9edbff, #9ea3ff); }

  12% {
    background: linear-gradient(to right, #9ed5ff, #a09eff); }

  13% {
    background: linear-gradient(to right, #9ed0ff, #a49eff); }

  14% {
    background: linear-gradient(to right, #9ecaff, #ab9eff); }

  15% {
    background: linear-gradient(to right, #9ec3ff, #b19eff); }

  16% {
    background: linear-gradient(to right, #9ebeff, #b69eff); }

  17% {
    background: linear-gradient(to right, #9eb8ff, #bd9eff); }

  18% {
    background: linear-gradient(to right, #9eb3ff, #c29eff); }

  19% {
    background: linear-gradient(to right, #9eadff, #c89eff); }

  20% {
    background: linear-gradient(to right, #9ea6ff, #ce9eff); }

  21% {
    background: linear-gradient(to right, #9ea1ff, #d39eff); }

  22% {
    background: linear-gradient(to right, #a19eff, #da9eff); }

  23% {
    background: linear-gradient(to right, #a69eff, #df9eff); }

  24% {
    background: linear-gradient(to right, #ad9eff, #e59eff); }

  25% {
    background: linear-gradient(to right, #b39eff, #ec9eff); }

  26% {
    background: linear-gradient(to right, #b89eff, #f09eff); }

  27% {
    background: linear-gradient(to right, #be9eff, #f79eff); }

  28% {
    background: linear-gradient(to right, #c39eff, #fc9eff); }

  29% {
    background: linear-gradient(to right, #ca9eff, #ff9efc); }

  30% {
    background: linear-gradient(to right, #d09eff, #ff9ef5); }

  31% {
    background: linear-gradient(to right, #d59eff, #ff9ef0); }

  32% {
    background: linear-gradient(to right, #db9eff, #ff9eea); }

  33% {
    background: linear-gradient(to right, #e09eff, #ff9ee5); }

  34% {
    background: linear-gradient(to right, #e79eff, #ff9edf); }

  35% {
    background: linear-gradient(to right, #ed9eff, #ff9ed8); }

  36% {
    background: linear-gradient(to right, #f29eff, #ff9ed3); }

  37% {
    background: linear-gradient(to right, #f99eff, #ff9ecd); }

  38% {
    background: linear-gradient(to right, #fd9eff, #ff9ec8); }

  39% {
    background: linear-gradient(to right, #ff9efa, #ff9ec2); }

  40% {
    background: linear-gradient(to right, #ff9ef4, #ff9ebb); }

  41% {
    background: linear-gradient(to right, #ff9eef, #ff9eb6); }

  42% {
    background: linear-gradient(to right, #ff9ee8, #ff9eb0); }

  43% {
    background: linear-gradient(to right, #ff9ee4, #ff9eab); }

  44% {
    background: linear-gradient(to right, #ff9edd, #ff9ea4); }

  45% {
    background: linear-gradient(to right, #ff9ed7, #ff9e9e); }

  46% {
    background: linear-gradient(to right, #ff9ed2, #ffa39e); }

  47% {
    background: linear-gradient(to right, #ff9ecb, #ffa99e); }

  48% {
    background: linear-gradient(to right, #ff9ec6, #ffae9e); }

  49% {
    background: linear-gradient(to right, #ff9ec0, #ffb59e); }

  50% {
    background: linear-gradient(to right, #ff9eb9, #ffbb9e); }

  51% {
    background: linear-gradient(to right, #ff9eb5, #ffc09e); }

  52% {
    background: linear-gradient(to right, #ff9eae, #ffc69e); }

  53% {
    background: linear-gradient(to right, #ff9ea9, #ffcb9e); }

  54% {
    background: linear-gradient(to right, #ff9ea3, #ffd29e); }

  55% {
    background: linear-gradient(to right, #ffa09e, #ffd89e); }

  56% {
    background: linear-gradient(to right, #ffa49e, #ffdd9e); }

  57% {
    background: linear-gradient(to right, #ffab9e, #ffe49e); }

  58% {
    background: linear-gradient(to right, #ffb09e, #ffe89e); }

  59% {
    background: linear-gradient(to right, #ffb69e, #ffef9e); }

  60% {
    background: linear-gradient(to right, #ffbd9e, #fff59e); }

  61% {
    background: linear-gradient(to right, #ffc29e, #fffa9e); }

  62% {
    background: linear-gradient(to right, #ffc89e, #fdff9e); }

  63% {
    background: linear-gradient(to right, #ffcd9e, #f9ff9e); }

  64% {
    background: linear-gradient(to right, #ffd39e, #f2ff9e); }

  65% {
    background: linear-gradient(to right, #ffda9e, #ecff9e); }

  66% {
    background: linear-gradient(to right, #ffdf9e, #e7ff9e); }

  67% {
    background: linear-gradient(to right, #ffe59e, #e0ff9e); }

  68% {
    background: linear-gradient(to right, #ffea9e, #dbff9e); }

  69% {
    background: linear-gradient(to right, #fff09e, #d5ff9e); }

  70% {
    background: linear-gradient(to right, #fff79e, #cfff9e); }

  71% {
    background: linear-gradient(to right, #fffc9e, #caff9e); }

  72% {
    background: linear-gradient(to right, #fcff9e, #c3ff9e); }

  73% {
    background: linear-gradient(to right, #f7ff9e, #beff9e); }

  74% {
    background: linear-gradient(to right, #f0ff9e, #b8ff9e); }

  75% {
    background: linear-gradient(to right, #eaff9e, #b1ff9e); }

  76% {
    background: linear-gradient(to right, #e5ff9e, #adff9e); }

  77% {
    background: linear-gradient(to right, #dfff9e, #a6ff9e); }

  78% {
    background: linear-gradient(to right, #daff9e, #a1ff9e); }

  79% {
    background: linear-gradient(to right, #d3ff9e, #9effa1); }

  80% {
    background: linear-gradient(to right, #cdff9e, #9effa8); }

  81% {
    background: linear-gradient(to right, #c8ff9e, #9effad); }

  82% {
    background: linear-gradient(to right, #c2ff9e, #9effb3); }

  83% {
    background: linear-gradient(to right, #bdff9e, #9effb8); }

  84% {
    background: linear-gradient(to right, #b6ff9e, #9effbe); }

  85% {
    background: linear-gradient(to right, #b0ff9e, #9effc5); }

  86% {
    background: linear-gradient(to right, #abff9e, #9effca); }

  87% {
    background: linear-gradient(to right, #a4ff9e, #9effd0); }

  88% {
    background: linear-gradient(to right, #a0ff9e, #9effd5); }

  89% {
    background: linear-gradient(to right, #9effa3, #9effdb); }

  90% {
    background: linear-gradient(to right, #9effa9, #9effe2); }

  91% {
    background: linear-gradient(to right, #9effae, #9effe7); }

  92% {
    background: linear-gradient(to right, #9effb5, #9effed); }

  93% {
    background: linear-gradient(to right, #9effb9, #9efff2); }

  94% {
    background: linear-gradient(to right, #9effc0, #9efff9); }

  95% {
    background: linear-gradient(to right, #9effc6, #9effff); }

  96% {
    background: linear-gradient(to right, #9effcb, #9efaff); }

  97% {
    background: linear-gradient(to right, #9effd2, #9ef4ff); }

  98% {
    background: linear-gradient(to right, #9effd7, #9eefff); }

  99% {
    background: linear-gradient(to right, #9effdd, #9ee8ff); }

  100% {
    background: linear-gradient(to right, #9effe4, #9ee2ff); } }

@media only screen and (max-width: 800px) {
  body {
    padding: 10px; }
  .page {
    padding: 5%; }
  h2.logo {
    font-size: 40px;
    line-height: 40px; }
  section.contact span {
    display: block;
    margin: 30px 0; } }

@media only screen and (max-width: 480px) {
  .page {
    padding: 10% 2%; }
  header h2.logo {
    font-size: 70px;
    line-height: 60px; }
  section.partners .partner {
    display: block;
    width: 100%;
    margin-bottom: 40px; }
  section.clients ul li {
    display: block; }
    section.clients ul li a {
      display: inline-block; } }
