extends layout

block content
    header: small what's bred in the bone will come out in the flesh
    .page
        .wrap
            .hero
                h1 We're A New York Data Company.
                p New York Data Company is a boutique development and design consultancy specializing in data-driven projects. We work in a wide range of industries from academic research to journalism and media to product development.

            section.contact
                span
                    strong Work with us:
                    a(href='mailto:info@nydata.co') info@nydata.co
                span
                    strong Twitter: 
                    a(href="https://twitter.com/NewYorkData", title="Follow us on Twitter") @NewYorkData
                span 
                    strong Investors: 
                    a(href="https://angel.co/new-york-data-company") Angelist

            section.partners.cf
                .partner
                    h3 Matt Conlen
                    h4 Partner
                    p
                        a(href="mailto:mc@nydata.co") mc@nydata.co
                    p
                        a(href="https://twitter.com/mathisonian") @mathisonian
                    p
                        a(href="https://www.linkedin.com/in/matthewconlen") Matthew on LinkedIn
                .partner
                    h3 Andrew Sass
                    h4 Partner
                    p
                        a(href="mailto:andrew@nydata.co") andrew@nydata.co
                    p
                        a(href="https://twitter.com/andrewsass") @andrewsass
                    p
                        a(href="https://linkedin.com/in/andrewsass") Andrew on LinkedIn

            section.clients
                h1 Who we have worked with
                ul
                    li
                        a(href="https://www.janelia.org/") Janelia Research Campus
                    li
                        a(href="http://fivethirtyeight.com/") FiveThirtyEight
                    li
                        a(href="http://www.bionicsolution.com/") Bionic Solution
                ul    
                    li
                        a(href="http://www.vocativ.com/") Vocativ
                    li
                        a(href="http://www.huffingtonpost.com/") Huffington Post
                    li
                        a(href="http://www.unifiedsocial.com/") Unified Social

        footer
            div: small Copyright 2014
            div: strong The New York Data Company




