@font-face {
  font-family: "superior";
  src: url("/fonts/superior/superior-title-black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "superior";
  src: url("/fonts/superior/superior-title-black-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "cooper-hewitt";
  src: url("/fonts/cooper-hewitt/cooper-hewitt-book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cooper-hewitt";
  src: url("/fonts/cooper-hewitt/cooper-hewitt-book-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}