input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media only screen and (max-width: 800px) {
	body {
		// padding: 10px;
	}
	.page {
		padding: 1rem;
	}
  header {
    display: none;
  }
	h2.logo {
		font-size: 40px;
		line-height: 40px;
	}
	section {
		&.contact {			
			span {
			}
		}
	}
}

@media only screen and (max-width: 540px) {
  section.partners {
    .partner {
      text-align: left;
      display: block;
      width: 100%;
      padding: 0;
      background: none;
      p {
        font-size: 2rem;
        line-height: 2.6rem;
      }
      &:first-child {
        margin-bottom: 3rem;
      }
    }
  }
  section.clients {
    ul li {
      width: 48%;
      padding: 1%;
    }
  }

}

@media only screen and (max-width: 480px) {
  body {
    padding: .5rem;
  }
  section.contact {
    span {
      strong, a {
        display: block;
      }
      strong {
        font-size: .7rem;
        font-family: $titles;
        text-transform: uppercase;
        @extend %kern;
      }
      a {
        font-size: 2rem;
      }
      margin-bottom: 2rem;
      line-height: normal;
    }
  }
}

@media only screen and (max-width: 380px) {
  .hero h1 {
    span {
      display: block;
    }
    font-size: 2.75rem;
    line-height: 3rem;
  }
  section.clients {
    ul li {
      width: 96%;
      padding: 2%;
    }
  } 
}