@media only screen and (max-width: 680px) {
	body {
		padding: 5%;	
	}
	h2.logo {
		font-size: 40px;
		line-height: 40px;
	}
	section {
		&.partners {
			.partner {
				width: 100%;
				margin: 20px 0;
				p {
					margin: 20px 0;
				}
			}
		}
		&.contact {
			text-align: left;
			span {
				display: block;
				margin: 20px 0;
				strong, a {
					display: inline-block;
					width: 50%;
					margin: 0;
					border: none;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
  body {
    padding: 5%;
	&:after {
		@extend %blocks;
		top: 2%;
		right: 17%;
		z-index: -9999;
	}
  }
}