@import "normalize";

$sans:          Helvetica Neue, Helvetica, Arial, sans-serif;
$titles:        "din-condensed-web", Helvetica;
$serif:         "ltc-bodoni-175", serif;
$black:         #333333;
$yellow:        #FFFF00;
$pink:          #D84C90;
$cyan:          #9EFFE5;
$red:           #FF0000;

%blocks {
    content: "";
    display: block;
    position: absolute;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: normal;
}

a {
    color: $black;
    text-decoration: none;
    border-bottom: 2px dashed;
    padding-bottom: 2px;
    &:hover {
        text-decoration: none;
        border-bottom: 2px solid;
    }
}

p {
    font-family: $serif;
}

body {
    &:before {
        @extend %blocks;
        width: 200px;
        height: 200px;
        background-color: $yellow;
        top: 38%;
        left: 17%;
        z-index: -9999;
    }
    &:after {
        @extend %blocks;
        width: 150px;
        height: 180px;
        background-color: $pink;
        top: 2%;
        right: 17%;
        z-index: -9999;
    }
}

.wrap {
    width: 100%;
    max-width: 680px;
    margin: 0 auto; 
}

header {
    margin: 40px 0;    
    h1 {
        color: $black;
        mix-blend-mode: multiply;
        font-family: $serif;
        font-size: 60px;
        line-height: 60px;
        position: relative;
        span {
            position: relative;
        }
        em {
            position: relative;
            &:after {
                content: '"';
                display: block;
                position: absolute;
                bottom: -40px;
                right: -40px;
                font-size: 200px;
                line-height: 0;
                font-style: normal;
                color: $cyan;
                mix-blend-mode: multiply; 
            }
        }
        &:before {
            content: '"';
            display: block;
            position: absolute;
            top: 0;
            left: -40px;
            font-size: 200px;
            line-height: 120px;
            color: $yellow;
            mix-blend-mode: multiply; 
        }        
    }
}

table {
    border: none;
    outline: none;
    margin: 60px 0;
    tr, td {
        border: none;
        outline: none;
        border-collapse: collapse;
    }
    td {
        position: relative;
        width: 50%;
        h3 {
            position: relative;
            &:before {
                @extend %blocks;
                top: -2%;
                left: 10%;
                width: 140px;
                height: 50px;
                background-color: $cyan;
            }
            &:last-child:after {
                @extend %blocks;
                top: 0;
                right: 0;
                width: 80px;
                height: 80px;
                background-color: $yellow;
            }
        }
    }
}

h2.logo {
    font-family: $titles;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
    div {
        display: block;
        span {
            position: relative;                        
            height: 40px;
            mix-blend-mode: multiply;
            background: $cyan;
        }
    }
}

h3 {
    font-family: $serif;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
}

section {
    margin: 80px 0;
    h2 {
        font-size: 40px;
        text-align: center; 
    }

    &.contact {
        text-align: center;
        font-family: $serif;
        font-size: 16px;
        span {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &.partners {
        .partner {
            position: relative;
            float: left;
            width: 50%;
            &:first-child:after {
                @extend %blocks;
                background-color: $cyan;
                width: 180px;
                height: 100px;
                top: 0;
                left: 0;
            }
            &:last-child:after {
                @extend %blocks;
                background-color: $yellow;
                width: 130px;
                height: 80px;
                top: 6%;
                right: 16%;
            }
            h3 {
                font-size: 40px;
                margin-bottom: 10px;
            }
            h4 {
                font-family: $titles;
                text-transform: uppercase;
                color: $pink;
            }
            p {
                font-style: 14px;
                line-height: normal;
                margin: 10px 0;
            }
        }
    }

}

footer {
    margin: 80px auto;
    text-align: center;
    small {
        text-transform: uppercase;
    }
}

@import "_responsive";