extends layout

block content
    .wrap
        header
            h1
                span What's bred in the bone 
                em will come out in the flesh.
        table   
            td
                h2.logo
                    div
                        span New York
                    div 
                        span Data 
                    div 
                        span Company
            td
                h3
                    span A New Breed of Product Development

        section.contact
            span
                strong Work with NYDC:
                a(href='mailto:info@nydata.co') info@nydata.co
            span
                strong Twitter: 
                a(href="https://twitter.com/NewYorkData", title="Follow us on Twitter")
                    | @NewYorkData 
            span 
                strong Investors: 
                a(href="https://angel.co/new-york-data-company") Angelist

        section.partners.cf
            .partner
                h3 Matt Conlen
                h4 Partner
                p
                    a(href="mailto:mc@nydata.co") mc@nydata.co
                p
                    a(href="https://twitter.com/mathisonian") @mathisonian
                p
                    a(href="https://www.linkedin.com/in/matthewconlen") Matthew on LinkedIn
            .partner
                h3 Andrew Sass
                h4 Partner
                p
                    a(href="mailto:andrew@nydata.co") andrew@nydata.co
                p
                    a(href="https://twitter.com/andrewsass") @andrewsass
                p
                    a(href="https://linkedin.com/in/andrewsass") Andrew on LinkedIn

    footer
        small Copyright 2014. The New York Data Company.