
extends layout



block content
    .container
        .full-content-wrapper
            .content-wrapper
                header.main-header
                    .header-content
                        h1 NEW YORK DATA COMPANY
                        h2 Turn your data into knowledge.

                section.main-content
                    .content.about.active
                        p
                            | Contact us at
                            a(href='mailto:info@nydata.co') info@nydata.co
                            br

            .bg-color

    ul.social-connections
        li
            a.symbol(href='http://twitter.com/NewYorkData', title='Follow us on Twitter') circletwitterbird
