extends layout

block content
    .wrap
        header
            .header-content
                .nydc-logo
                h2 New York's Data-Driven Production Company

        .contact
            span 
                strong Email: 
                a(href='mailto:info@nydata.co') info@nydata.co
            
            span 
                strong Twitter: 
                a(href="https://twitter.com/NewYorkData", title="Follow us on Twitter")
                    | @NewYorkData 
            span 
                strong Investors: 
                a(href="https://angel.co/new-york-data-company") Angelist

        section.partners
            .cf
                .partner
                    h3 Matthew Conlen
                    h4 Partner
                    p
                        a(href="mailto:mc@nydata.co") mc@nydata.co
                    p
                        a(href="https://twitter.com/mathisonian") @mathisonian
                    p
                        a(href="https://www.linkedin.com/in/matthewconlen") Matthew on LinkedIn
                .partner
                    h3 Andrew Sass
                    h4 Partner
                    p
                        a(href="mailto:andrew@nydata.co") andrew@nydata.co
                    p
                        a(href="https://twitter.com/andrewsass") @andrewsass
                    p
                        a(href="https://linkedin.com/in/andrewsass") Andrew on LinkedIn
        
        //- section.portfolio
            h2 Portfolio

            .portfolio-grid.cf
                div.theminute
                    .logo
                        .overlay
                            h5 The Minute
                            p Translate and summarize the best non-english media and news sites.
                            p Coming Soon
                div.lightning
                    .logo
                        .overlay
                            h5 Lightning
                            p Translate and summarize the best non-english media and news sites.
                            p
                                a(href="http://lightning.mathisonian.com/") Beta Here
                div.trainspotting
                    .logo
                        .overlay
                            h5 Trainspotting
                            p Translate and summarize the best non-english media and news sites.
                div.haus
                    .logo
                        .overlay
                            h5 Haus
                            p Translate and summarize the best non-english media and news sites.

        section.footer
            p
                | Copyright 2014. The New York Data Company.