doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        link(rel='shortcut icon', href='favicon.ico')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title
            block title
                | New York Data Co.


        link(href="//fonts.googleapis.com/css?family=Oswald:400,700,300", rel="stylesheet", type="text/css")
        link(href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700", rel="stylesheet", type="text/css")
        link(rel="stylesheet", type="text/css", href="//pop-profiles.s3.amazonaws.com/builds/1402676351062/clean-slate/css/styles.min.css")

        link(rel='stylesheet', href='/css/app.css', type='text/css', media='screen')



    body.xpos-left.ypos-top
        block content
        script(src='/js/app.js')