doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        link(rel='shortcut icon', href='favicon.ico')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title
            block title
                | New York Data Co.

        link(rel='stylesheet', href='/css/app.css', type='text/css', media='screen')

    body
        block content
        script(src='/js/app.js')